body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
}

article {
	flex: 2;
	overflow-y: auto;
}

article {
	flex: 1;
	overflow-y: auto;
}

h1 {
	color: red;
}

#series {
	background-color: black;
	margin: 20px;
	padding: 80px;
}
